
html{
  background-image: url("../../static/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 5%;
  height: 100%;
}


body{
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: absolute;
  height: 90%;
  width: 90%;
  border-radius: 10px;
  border-style: solid;
  background: white;
  position: fixed;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.body-contents{
  margin: auto;
  top: 35%;
  bottom:2%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  left: 50%;
  transform: translatex(-50%);
}

a{
  color: black;
}

.sorry{
  text-align: center;
  font-size: 20px;
  width: 300px;
}

h2{
  text-align: center;
  margin-bottom: 2%;
}

h3{
  margin-left: 2%;
  font-size: 150%;
  width: 100%;
}

/* New Account */
#new-account{
  position: relative;
  border-radius: 8px;
  border-style: solid;
  text-align: center;
}

/* login */

#login{
  position: relative;
  border-radius: 8px;
  border-style: solid;
}

#login-container{
  text-align: center;
}

.form-control{
  margin: 0px 50px 10px 50px;
}

/* Follows */
.follows-card{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.follows-card a img{
  height: 150px;
  width: 150px;
  border-radius: 5px;
}

.follow-name{
  position: relative;
  text-align: center;
  margin-right: auto;
  color: black;
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
}


.user-container{
  margin-right: 75px;
  margin-left: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  text-align: center;
}

/* weather */


.weather-subheader{
  margin: auto;
  text-align: center;
}

#weather-header{
  margin: auto;
  text-align: center;
}

.forecast-container{
  display: flex;
  justify-content: space-evenly;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.date{
  color: white;
  font-weight: 600;
  font-size: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 375px;
  margin: 20px 10px 30px 20px;
  flex-wrap: wrap;
}

.widget {
  background: linear-gradient(to bottom right, #3cc0fe 20%, rgba(#0066ff, 0.6));
  background-color: lightskyblue;
  width: 275px;
  height: 375px;
  border-radius: 6px;
  box-shadow: 0px 15px 20px -5px #27a5fd;
  position: relative;
  overflow: hidden;
}

.curr-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 225px;
  margin-top: 20px;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.curr-widget {
  background: linear-gradient(to bottom right, #3cc0fe 20%, rgba(#0066ff, 0.6));
  background-color: lightskyblue;
  width: 400px;
  height: 250px;
  border-radius: 6px;
  box-shadow: 0px 15px 20px -5px #27a5fd;
  position: relative;
  overflow: hidden;
}

.weather-img{
  display: inline-block;
  vertical-align:top;
}

.details{
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 30px;
}

.temperature {
  color: white;
  font-weight: 300;
  font-size: 50px;
  display: inline-block;
  vertical-align:top;
  margin: 10px;
}
.summary {
  color: #d2e9fa;
  font-size: 1em;
  font-weight: 600;
  width: 130px;
  margin-top: -8px;
  padding-bottom: 8px;
  border-bottom: 2px solid #9cd0ff;
  margin-left: 4px;
}
.summaryText {
  margin: 0;
  margin-left: 28px;
}
.weather-details {
  color: #d2e9fa;
  font-size: .9em;
  font-weight: 600;
  margin-left: 30px;
}
.precipitation {
  margin-top: 8px;
}
.wind {
  margin-top: 2px;
}

/* plant-details */

.plant-detail-container{
  position: absolute;
}
.plant-detail-img{
  position: relative;
  width: 25px;
  height: 25%;
  border-radius: 2px;
}

.plant-name-details{
  font-weight: bold;
  font-size: 40px;
}

/* search bar and garden choices */
select {
  width: 10%;
  padding: 3px 3px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/* garden-cards */
.garden-card{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
  width: 200px;
}

.garden-card a img{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}


.garden-name{
  position: relative;
  text-align: center;
  margin-right: auto;
  color: black;
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
}


.garden-container{
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  text-align: center;
}
/* plant-cards */
.plant-card{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
  width: 200px;
  position: relative;
}

.dlt-btn {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(270%, -50%);
  background: none;
  color:white;
  font-size: 15px;
  padding: 5px 5px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 900;
}

.plant-card a img{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}


.plant-name{
  position: relative;
  text-align: center;
  margin-right: auto;
  color: black;
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
}


.plant-container{
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  text-align: center;
}

/* User cards */

.user-card{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 250px;
  width: 200px;
}

.user-card a img{
  height: 150px;
  width: 150px;
  border-radius: 5px;
  position: relative;
  display: inline-block;
}


.user-name{
  position: relative;
  text-align: center;
  margin-right: auto;
  color: black;
  font-size: 20px;
  text-shadow: 0px 0px 1px black;
}


.user-container{
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
  text-align: center;
}

/* Nav bar links */

nav .primary-navigation{
    margin: 0 auto;
    display: block;
    padding: 120px 0 0 0;  
    text-align: center;
    font-size: 16px;
}

nav ul li {
    list-style: none;
    margin: 0 auto;
    border-left: 2px solid lightskyblue;
    border-right: 2px solid lightskyblue;
    display: inline-block;
    padding: 0 20px;
    position: relative;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-family: sans-serif;
}

nav li a {
  color: black;
}

nav li a:hover {
  color: darkgreen;
}

nav li:hover {
  cursor: pointer;
}

nav ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  padding-left: 0;
  left: 0;
  display: none;
  background: white;
}

nav ul li:hover > ul,
nav ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  min-width: 250px;
  text-align: left;
  padding-top: 20px;
  box-shadow: 0px 3px 5px -1px #ccc;
}

nav ul li ul li {
  clear: both;
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
  border-style: none;
}

nav ul li ul li a:hover {
  padding-left: 10px;
  border-left: 2px solid lightskyblue;
  transition: all 0.3s ease;
}


a {
    text-decoration: none;
}

a:hover {
  color: green;
}

 ul li ul li a { transition: all 0.5s ease; }

/* user links in nav bar */
#user-link{
  height: 15%;
  width: 10%;
  margin-top: 1%;
  margin-left: 90%;
  position: absolute;
}

nav ul{
  width: 100%;
  padding: 0px;
  margin: auto;
}

/* logo nav bar link */

#logo-container{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  padding: 0px;
  height: 60px;
}
#logo{
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:60px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  text-shadow: 4px 4px green, 8px 8px lightskyblue;
  font-family: 'Times New Roman', Times, serif !important;
}

#user-image{
  border-radius: 10%;
  width: 50%;
  height: 50%;
}

nav{
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: baseline;
  align-content: center;
  flex-wrap: wrap;
  text-align: center;
}
.break{
  flex-basis: 100%;
  height: 0;
}

#global_search_form{
  width: 100%;
  position: relative;
  text-align: center;
}

select{
  width: 5%;
}

/* buttons */

#remove-save{
  position: inline-block;
}

.btn{
  margin-bottom:20px;
}

button{
  color: #fff !important;
	text-decoration: none;
	background: green;
	padding: 8px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

button:hover {
  background: darkgreen;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}


input[type=submit]{
  color: #fff !important;
	text-decoration: none;
	background: green;
	padding: 8px;
	border-radius: 5px;
	display: inline-block;
	border: none;
  transition: all 0.4s ease 0s;
}

input[type=submit]:hover {
  background: darkgreen;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
}

#home-buttons{
  text-align: center;
}

  /* edit profile page */

  #edit-container{
    text-align: center;
  }


  /* input boxes */

  #edit-pass{
    width: 200px;
  }

  input[type=text]{
    border: 0;
    border-bottom: 2px solid black;
  }

  input[type=password]{
    border: 0;
    border-bottom: 2px solid black;
  }

  select {
    width: 6%;
    padding: 5px 5px;
    border: none;
    border-radius: 4px;
    background-color: white;
  }

  #global-search{
    width: 20%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 6px 10px 6px 20px;
  }

  #garden{
    width: 20%;
  }

  /* details */

  .ps-details img{
    height: 100px;
    width: 100px;
    border-radius: 5%;
  }

  .garden-details div{
    text-align: center;
  }

  .plant-details div{
    text-align: center;
  }

  .user-details div{
    text-align: center;
  }

  .ps-details{
    margin-bottom: 5%;
  }

  .plant-search-form{
    text-align: left;
    align-content: left;
    justify-content: left;
  }

/* dropdown menus */



