{% extends 'base.html' %}
{% block content %}

<br>
<br>
<h1 id='weather-header'>Your Weather Prediction for {{api_results.location.name}}, {{api_results.location.region}}</h1>
<br>
<br>
<h2 class=weather-subheader>Current Weather</h2>
<br>
    <div id='current-weather-container'>
        <div>Temperature: {{api_results.current.temp_f}} F</div>
        <div>Humidity: {{api_results.current.humidity}}%</div>
        <div>Wind: {{api_results.current.wind_mph}} MPH</div>
        <div>Current Conditions: {{api_results.current.condition.text}}</div>
        <img src={{api_results.current.condition.icon}}>
    </div>

<h2 class=weather-subheader>3 Day Weather Forecast</h2>
    <div id='forecast-container'>
        <div class='forecast 1'>
            <h3>{{api_results.forecast.forecastday[1].date}}</h3>
            <div>Conditions: {{api_results.forecast.forecastday[1].day.condition.text}}</div>
            <div>Max Temp: {{api_results.forecast.forecastday[1].day.maxtemp_f}} F</div>
            <div>Min Temp: {{api_results.forecast.forecastday[1].day.mintemp_f}} F</div>
            <div>Avg Temp: {{api_results.forecast.forecastday[1].day.avgtemp_f}} F</div>
            <div>Avg Humidity: {{api_results.forecast.forecastday[1].day.avghumidity}}%</div>
            <div>Chance of Rain: {{api_results.forecast.forecastday[1].day.daily_chance_of_rain}}%</div>
            <div>Total Precipitation: {{api_results.forecast.forecastday[1].day.totalprecip_in}} inches</div>
            <div>Chance of Snow: {{api_results.forecast.forecastday[1].day.daily_chance_of_snow}}%</div>
            <div>Sunrise: {{api_results.forecast.forecastday[1].astro.sunrise}}</div>
            <div>Sunset: {{api_results.forecast.forecastday[1].astro.sunset}}</div>
            <img class='weather-icon' src={{api_results.forecast.forecastday[1].day.condition.icon}}>
        </div>
        <div class='forecast 2'>
            <h3>{{api_results.forecast.forecastday[2].date}}</h3>
            <div>Conditions: {{api_results.forecast.forecastday[2].day.condition.text}}</div>
            <div>Max Temp: {{api_results.forecast.forecastday[2].day.maxtemp_f}} F</div>
            <div>Min Temp: {{api_results.forecast.forecastday[2].day.mintemp_f}} F</div>
            <div>Avg Temp: {{api_results.forecast.forecastday[2].day.avgtemp_f}} F</div>
            <div>Avg Humidity: {{api_results.forecast.forecastday[2].day.avghumidity}}%</div>
            <div>Chance of Rain: {{api_results.forecast.forecastday[2].day.daily_chance_of_rain}}%</div>
            <div>Total Precipitation: {{api_results.forecast.forecastday[2].day.totalprecip_in}} inches</div>
            <div>Chance of Snow: {{api_results.forecast.forecastday[2].day.daily_chance_of_snow}}%</div>
            <div>Sunrise: {{api_results.forecast.forecastday[2].astro.sunrise}}</div>
            <div>Sunset: {{api_results.forecast.forecastday[2].astro.sunset}}</div>
            <img class='weather-icon' src={{api_results.forecast.forecastday[2].day.condition.icon}}>
        </div>
        <div class='forecast 3'>
            <h3>{{api_results.forecast.forecastday[2].date}}</h3>
            <div>Conditions: {{api_results.forecast.forecastday[2].day.condition.text}}</div>
            <div>Max Temp: {{api_results.forecast.forecastday[2].day.maxtemp_f}} F</div>
            <div>Min Temp: {{api_results.forecast.forecastday[2].day.mintemp_f}} F</div>
            <div>Avg Temp: {{api_results.forecast.forecastday[2].day.avgtemp_f}} F</div>
            <div>Avg Humidity: {{api_results.forecast.forecastday[2].day.avghumidity}}%</div>
            <div>Chance of Rain: {{api_results.forecast.forecastday[2].day.daily_chance_of_rain}}%</div>
            <div>Total Precipitation: {{api_results.forecast.forecastday[2].day.totalprecip_in}} inches</div>
            <div>Chance of Snow: {{api_results.forecast.forecastday[2].day.daily_chance_of_snow}}%</div>
            <div>Sunrise: {{api_results.forecast.forecastday[2].astro.sunrise}}</div>
            <div>Sunset: {{api_results.forecast.forecastday[2].astro.sunset}}</div>
            <img class='weather-icon' src={{api_results.forecast.forecastday[2].day.condition.icon}}>
        </div>
    </div>


{% endblock %}