{% extends 'base.html' %}
{% block content %}
  <br>
  <div>
    <h2>My Saved Plants</h2>
        <div class=plant-container>
          {% for plant in g.user.plants %}
          <div class="plant-card">
              <a href='/plants/{{plant.name}}'>
                  <img src="{{ plant.image }}" onerror='this.src="/static/unknown-image.webp"' class="grid-element">
                  <div class="plant-name">{{plant.name}}</div>
              </a>
          </div>
          {% endfor %}
    
        </div>

  </div>
{% endblock %}