{% extends 'base.html' %}
{% block content %}
  <div>
    <h2>My Saved Plants</h2>
    <br>
    {% if g.user.plants|length == 0 %}
      <h3 class='sorry'>Sorry, no plants to show</h3>
    {% else %}
        <div class='plant-container'>
          {% for plant in g.user.plants %}
          <div class="plant-card">
              <a href='/plants/{{plant.name}}'>
                  <img src="{{ plant.image }}" onerror='this.src="/static/unknown-image.webp"'>
                  <div class="plant-name">{{plant.name}}</div>
                  {% if g.user %}
                      {% if plant in g.user.plants %}
                        <form method="POST" action="/plants/{{ plant.id }}/delete">
                            <button class='dlt-btn'>X</button>
                        </form>
                      {% endif %}
                  {% endif %}
              </a>
          </div>
          {% endfor %}
    {% endif %}
    
        </div>

  </div>
{% endblock %}