{% extends 'base.html' %}
{% block content %}
{% if plant_results.data|length == 0 %}
    <h3 class='sorry'>Sorry, no plants found</h3>
{% endif %}
  <div class='plant-container'>
    {% for plant in plant_results.data %}
      <div class="plant-card">
        <a href='/plants/{{plant.attributes.name}}'>
          <img src="{{ plant.attributes.main_image_path }}" onerror='this.src="/static/unknown-image.webp"' class="grid-element">
          <div class="plant-name">{{plant.attributes.name}}</div>
        </a>
      </div>
    {% endfor %}
  </div>

{% endblock %}