{% extends 'base.html' %}
{% block content %}
  {% if users|length == 0 %}
    <h3 class='sorry'>Sorry, no users found</h3>
  {% else %}
    <div class="user-container">
      {% for user in users %}
      <div class="user-card">
        <a href='/users/{{user.id}}'>
            <div class="user-name">{{user.username}}</div>
            <img src="{{user.image_url}}" onerror='this.src="/static/7100-1_1.jpg"' class="grid-element">
            {% if g.user %}
              {% if g.user.id == user.id %}

              {% elif g.user.is_following(user) %}
                <form method="POST" action="/follows/remove/{{ user.id }}">
                  <button class='dlt-btn'>Unfollow</button>
                </form>
              {% else %}
                <form method="POST" action="/follows/add/{{ user.id }}">
                  <button class='dlt-btn'>Follow</button>
                </form>
              {% endif %}
         </a>
        {% endif %}
      </div>
    {% endfor %}

  {% endif %}
{% endblock %}