{% extends 'base.html' %}
{% block content %}

<div id='details'>
    <div class='ps-details'>
        <div class='header'>
            <img class='detail-img' src="{{ user.image_url }}" onerror='this.src="/static/7100-1_1.jpg"'>
            <div class='names'>
                <div class='name'>{{user.username}}</div>
                <div class='detail-buttons'>
                    <form action="/follows/{{user.id}}">
                        <button>Follows</button>
                    </form>
                    <br>
                    {% if user.id == g.user.id %}
                        <form action="/users/profile/edit">
                            <button>Edit Profile</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <h3>Gardens</h3>
<div class='plant-container'>
    {% if gardens|length != 0 %}
        {% for garden in gardens %}
            <div class='plant-card'>
                <a href='/gardens/{{garden.id}}'>
                    {% if garden.plants[0] %}
                        <img src="{{ garden.plants[0].image }}" onerror='this.src="/static/unknown-image.webp"' class="grid-element">
                    {% else %}
                        <img src="/static/unknown-image.webp" class="grid-element">
                    {% endif %}
                    <div class="garden-name">{{garden.name}}</div>
                    {% if user.id == g.user.id %}
                        <form method="POST" action="/gardens/{{ garden.id }}/delete">
                            <button class='dlt-btn'>X</button>
                        </form>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
        
    {% else %}
        <h3 class='profsorry'>Sorry, no gardens to show</h3> 
    {% endif %}
</div>

<h3>Plants</h3>
<div class='plant-container'>
    {% if user.plants|length == 0 %}
        <h3 class='profsorry'>Sorry, no plants to show</h3>
    {% else %}
        {% for plant in user.plants %}
            <div class='plant-card'>
                <a href='/plants/{{plant.name}}'>
                    <div class="image-wrapper">
                        <img src="{{ plant.image }}" alt="">
                        <div class="garden-name">{{plant.name}}</div>
                    </div>
                    {% if user.id == g.user.id %}
                    <form action="/plants/{{ plant.id }}/delete">
                        <button class='dlt-btn'>X</button>
                    </form>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% endif %}
</div>
    
<h3>Inspirations</h3>
<div class='plant-container'>
    {% if user.gardens|length == 0 %}
        <h3 class='profsorry'>Sorry, no inspirations to show</h3>
    {% else %}
        {% for garden in g.user.gardens %}
            <div class='plant-card'>
                <div class="garden-card">
                    <a href='/gardens/{{garden.id}}'>
                        {% if garden.plants[0] %}
                        <img src="{{ garden.plants[0].image }}" onerror='this.src="/static/unknown-image.webp"' class="grid-element">
                        {% else %}
                        <img src="/static/unknown-image.webp" class="grid-element">
                        {% endif %}
                        <div class="garden-name">{{garden.name}}</div>
                        {% if user.id == g.user.id %}
                        <form action='/gardens/{{garden.id}}/delete-save'> 
                        <button class='dlt-btn'>X</button>
                     </form>
                    {% endif %}
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>

    </div>
</div>


{% endblock %}